.container {
    display: flex;
    flex-direction: column;
    max-width: 1023px;
    width: 100%;
}
.header {
    background-color: #ff6060;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    border-radius: 5px;
    padding: 0 1em;
    font-weight: 500;
    font-size: 1.5em;
    color: white;
}

.header button {
    background: none;
    border: none;
    height: 47px;
    width: 47px;
}

.arrow_up {
    transform: rotate(180deg);
}

.content {
    display: block;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    color: #ff6060;
    font-weight: 400;
    font-size: 1.5em;
    padding: 1.5em 1em 1em 1em;
}

.content_closed {
    display: none;
}
