@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-element-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin media-query($break-point) {
    @if $break-point== large {
        @media (max-width: 1440px) {
            @content;
        }
    }
    @if $break-point== medium {
        @media (max-width: 1023px) {
            @content;
        }
    }
    @if $break-point== small {
        @media (max-width: 767px) {
            @content;
        }
    }
    @if $break-point== x-small {
        @media (max-width: 374px) {
            @content;
        }
    }
}
