@mixin center-element {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-element-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-column {
    display: flex;
}
