.error {
    @include center-element-column;
    color: $primary-color;
    text-align: center;
    height: 100%;

    &_title {
        font-size: 18rem;
        margin: 5.5rem 0 2rem 0;
    }

    p {
        font-size: 2.25rem;
    }

    &_backlink {
        display: block;
        color: $primary-color;
        font-size: 1.125rem;
        margin: 11rem 0;
    }
}
