.gallery {
    background-color: #f7f7f7;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 2rem 0;
    flex-wrap: wrap;
    padding: 2.5rem;
    gap: 3rem;
}
