.banner {
    @include center-element;
    height: 223px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    &--home {
        @include media-query(small) {
            height: 110px;
            border-radius: 10px;
        }
    }
    &--about {
        @include media-query(small) {
            border-radius: 10px;
        }
    }

    img {
        position: absolute;
        object-fit: cover;
        filter: brightness(70%);
    }

    h2 {
        font-weight: 500;
        font-size: 3rem;
        color: white;
        position: relative;
        margin: 1.25rem;
        @include media-query(small) {
            font-size: 1.5rem;
        }
    }
}
