.dropdown {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    width: 100%;
    margin: 0.5em 0;

    &_header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-color: #ff6060;
        height: 3rem;
        border-radius: 5px;
        padding: 0 1rem;
        font-weight: 500;
        font-size: 1.5rem;
        color: white;
        z-index: 1;
    }
    button {
        background: none;
        border: none;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
    }
}

.arrow {
    transition: transform 0.4s ease-in-out;
    &--down {
        transform: rotate(0deg);
    }

    &--up {
        transform: rotate(-180deg);
    }
}

.content {
    max-width: inherit;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    margin-top: -5px;
    color: #ff6060;
    font-weight: 400;
    font-size: 1.5rem;
    padding: 1.5rem 0.5rem 0.5rem 1rem;
    overflow: hidden;
    transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
    &--hidden {
        height: 0;
        opacity: 0;
        padding: 0 1rem 0 1rem;
        transition: height 0.4s ease-in-out, padding 0.4s ease-in-out;
    }
}
